<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Animated Login Form | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <% if (loginFailed){%>
        <p><%=loginFailed%></p>

    <%}%>
    <p></p>
    <div class="center">
        <h1>Login</h1>
        <form method="post" action="/login"> <!-- Tambahkan atribut action dengan rute '/login' -->
            <div class="txt_field">
                <input type="email"  required name="email"> <!-- Tambahkan atribut name dengan 'userName' -->
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required> <!-- Tambahkan atribut name dengan 'password' -->
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" value="Login">
            <div class="signup_link">
                Not a member? <a href="#">Signup</a>
            </div>
        </form>
    </div>

</body>

</html>